@use '@styles/_mixins.scss' as mx;

:global(.swiper .swiper-pagination-bullet-active) {
  width: 24px !important;
  border-radius: 8px !important;
}

.testimonialsSection{
    margin: 0 auto;
    width: 100%;
    h2{
        @include mx.t-title(
            $font-size: 28px,
            $font-size-xs: 28px,
            $font-size-nav: 32px,
            $text-align: center,
            $text-align-md: center,
            $letter-spacing: 1px,
            $font-weight: 600,
        );
    }
}

.swiperContainer{
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    --swiper-navigation-color: #{mx.get-color('green', 'base')};
    --swiper-navigation-size: 20px;
    --swiper-pagination-color: #{mx.get-color('green', 'base')};
    --swiper-pagination-bullet-inactive-color: #{mx.get-color('neutral', 'grey-border')};
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    --swiper-pagination-bullet-size: 9px;
    --swiper-pagination-bullet-horizontal-gap: 5px;
}