// Color System
$colors: (
  // --- 綠色系 (Green Palette) ---
  'green': (
    "darkest": hsla(137, 95%, 18%, 1),
    "dark": hsla(137, 21%, 29%, 1),
    "base": hsla(119, 20%, 42%, 1),
    "light": hsla(112, 35%, 69%, 1),
    "bright": hsla(85, 91%, 71%, 1),
    
    // 導覽列專用
    "nav-base": hsla(132, 20%, 38%, 1),
    "nav-link": hsla(132, 20%, 38%, 0.9),
    "nav-link-hover": hsla(137, 95%, 18%, 1),
    "nav-link-arrow": hsla(132, 20%, 38%, 0.7),
    "nav-active-border": hsla(137, 95%, 18%, 0.7),
    
    // 背景色系
    "bg": hsla(90, 36%, 94%, 1),
    "bg-hover": hsla(96, 38%, 90%, 0.9),
    "bg-light": hsla(90, 44%, 97%, 1),
    "bg-dropdown": hsla(90, 36%, 94%, 0.3),
    "bg-grayed": hsla(120, 14%, 95%, 1)
  ),

  // --- 藍色系 (Blue Palette) ---
  'blue': (
    "link": hsla(204, 70%, 53%, 1),
    "link-hover": hsla(207, 63%, 45%, 1)
  ),

  // --- 橘色系 (Orange Palette) ---
  'orange': (
    'base': hsla(39, 100%, 50%, 1)
  ),

  // --- 紅色系 (Red / Error Palette) ---
  'red': (
    'base': hsla(0, 60%, 38%, 1), // 用於錯誤訊息文字、邊框、圖示 (深紅)
    'bg-light': hsla(0, 77%, 95%, 1) // 用於錯誤訊息的背景 (極淺紅)
  ),

  // --- 中性色 (Neutrals) ---
  'neutral': (
    'white': hsla(0, 0%, 100%, 1),
    'grey-light-border': hsla(0, 0%, 94%, 1),
    'grey-border': hsla(0, 0%, 93%, 1),
    'grey-text': hsla(0, 0%, 33%, 1),
    'shadow-light': hsla(0, 0%, 0%, 0.05),
    'shadow-medium': hsla(0, 0%, 0%, 0.1)
  )
);