@use '@styles/_mixins.scss' as mx;

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  // 手機版置中，桌機版靠左
  align-items: center;
  text-align: center;

  @include mx.respond-min(md) {
    align-items: flex-start;
    text-align: left;
  }
}

.paragraph {
  @include mx.p-paragraph;
  white-space: pre-line; // 保留換行格式
  margin-bottom: 0;
}

.button {
  @include mx.b-button(
    $margin-left: auto,
    $margin-right: auto,
    $width: 100%,
  );
}

.authorImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}