// 檔案: src/styles/AboutPage.module.scss
@use 'mixins' as mx;

.pageContainer {
  // 用來設定區塊之間的間距
  & > *:not(:last-child) {
    margin-bottom: 10px;
    
    @include mx.respond-min(md) {
      margin-bottom: 80px;
    }
  }
}

.imageCircle img {
  border-radius: 50%;
  width: 150px;  // 圓形頭像的尺寸
  height: 150px; // 圓形頭像的尺寸
  object-fit: cover;
}

.titleContainer {
  padding-top: 104px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box; // 確保 padding 不會撐大寬度
}