@use 'mixins' as mx;

// 基礎樣式 (所有變體共用)
.background {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
}
/* --- 顏色修飾符 --- */
// 淺綠色 (預設)
.lightGreen {
  background-color: mx.get-color('green', 'bg-light');
}

.freshGreen{
  background-color: mx.get-color('green', 'bg-hover');
}

// 白色
.white {
  background-color: mx.get-color('neutral', 'white');
}

// 您也可以新增其他顏色，例如透明
.transparent {
  background-color: transparent;
}