@use '@styles/_mixins.scss' as mx;

.comparisonSection {
  padding: 50px 0;
  width: 100%;
  box-sizing: border-box;

  @include mx.respond-min(md) {
    padding: 100px 0; 
  }
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  text-align: left;
  list-style: none;

  @include mx.respond-min(md) {
    flex-direction: row;
  }
}

.column {
  flex: 1;
  &:nth-child(1) {background-color: mx.get-color('green', 'bg-grayed')}
  &:nth-child(2) {background-color: mx.get-color('green', 'bg-hover')}
}

.columnPadding {
  margin: 30px 0;
  padding: 4% 20px;
  @include mx.respond-min(md) {
    padding: 40px 4%;
  }
}


li {
  display: flex;
  align-items: center;
  color: mx.get-color('green', 'base');
  gap: 8px;
  margin-bottom: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  color: mx.get-color('green', 'base');
  flex-shrink: 0;
}


h3 { 
  @include mx.t-title($font-size: 20px, $font-size-xs: 20px, $font-size-nav: 26px, $font-weight: 600, $margin-bottom: 20px);
}