@use '@styles/_mixins' as mx;
@use '@styles/colors' as color;
@use 'sass:map';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 在垂直方向上居中 */
  align-items: left;     /* 在水平方向上居中 */
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  /* 估算值：視窗高度減去 Header 和 Footer 的大致高度 */
  min-height: calc(100vh - 200px);

  .error{
    color: red;
  }
  
  .title {
    @include mx.t-title(
      $font-size: 38px,
      $font-size-xs: 38px,
      $font-size-nav: 38px
      );
  }
}