@use '@styles/mixins' as mx;

.button {
  @include mx.b-button(
    $margin-top-md: 20px,
    $margin-top-lg: 20px,
    );
}

.iconWrapper {
  svg {
    display: block;
    width: 24px;
    height: auto;
  }
}
