@use '@styles/mixins' as mx;
@use '@styles/colors' as color;
@use 'sass:map';

.contactSection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
}

.contactTextWrap {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.contactImageWrap {
  width: 100%;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}

.contactImage {
  width: 100%;
  height: auto;
  display: block; // 移除圖片底部的空隙
  border-radius: 8px;
}

.title {
  @include mx.t-title;
}

.paragraph {
  @include mx.p-paragraph;
}
