.title {
font-size: 28px;
color: rgb(58, 90, 64);
font-weight: 700;
line-height: 50px;
letter-spacing: -1px;
margin-top: 0;
margin-bottom: 0;
}

.paragraph {
font-size: 1em;
color: rgb(88, 129, 87);
line-height: 32px;
margin-bottom: 20px;
}

.button {
box-sizing: border-box;
display: inline-block;
width: auto;
padding: 12px 25px;
background-color: rgb(156, 201, 150);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 15px;
text-align: center;
margin-top: 10px;
transition: background-color 0.3s ease;
white-space: nowrap;
text-decoration: none;
}

.button:hover {
background-color: rgb(58, 90, 64);
}

@media (min-width: 545px) {
    .title {
        font-size: 32px;
    }
}

@media (min-width: 768px) {
    .title { 
        margin-bottom: 20px;
    }
    .paragraph {
        font-size: 1.1em;
        margin-bottom: 25px;
        margin-left: initial;
        margin-right: initial;
    }
    .button {
        padding: 14px 30px;
        margin-top: 15px;
    }
    .socialList {
        margin-top: 20px;
        gap: 15px;
    }
}

@media (min-width: 922px) {
    .title {
        font-size: 38px;
    }
}

@media (min-width: 1025px) {
    .title {
        letter-spacing: 0.6px;
    }
}