@use '@styles/_mixins.scss' as mx;

// 頁面外層包裹容器
.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // 確保整個頁面至少和視窗一樣高
}

// 讓這個區塊擴展以填滿剩餘空間
.growingSection {
  flex-grow: 1;
}

.contactSection {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
  align-items: center;

  // Mobile First: 預設為垂直堆疊
  flex-direction: column;

  // Desktop: 切換為水平排列
  @include mx.respond-min(md) {
    flex-direction: row;
    gap: 40px; // 增加欄位間距
    padding: 80px 40px;
  }

  @include mx.respond-min(nav) {
    padding: 48px 40px;
  }
}

.contactTextWrap {
  width: 100%;
  box-sizing: border-box;

  @include mx.respond-min(md) {
    flex-basis: 50%;
    // 在桌面版讓文字靠左對齊
    text-align: left;
  }
}

.contactImageWrap {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;

  @include mx.respond-min(md) { 
    flex-basis: 50%;
    margin-top: 0;
  }
}

.contactImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.title {
  @include mx.t-title($font-size: 22px, $font-size-xs: 26px, $font-size-nav: 30px);
}

.paragraph {
  @include mx.p-paragraph($line-height: 1.2, $letter-spacing: 1);
  & {
    white-space: pre-line;
  }
}