@use '@styles/mixins' as mx;

.contactLinksContainer {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 40px;
}

.linkItem {
  display: flex;
  align-items: center;
  gap: 12px; // 圖示與文字之間的間距
  text-decoration: none;
}

.iconWrapper {
  color: mx.get-color('green', 'light');
  transition: color 0.3s ease;

  // 設定 SVG 和 FontAwesome 圖示的大小
  svg {
    font-size: 25px; // for FontAwesome
    width: 25px;     // for Tabler Icons
    height: 25px;
    display: block; // 確保圖示對齊
  }
}

.contactName {
  font-size: 16px;
  font-weight: 500;
  color: mx.get-color('green', 'base');
  transition: color 0.3s ease;
}

.linkItem:hover {
  .iconWrapper,
  .contactName {
    color: mx.get-color('green', 'base');
  }
}
