@use '@styles/mixins' as mx; 

.footer {
  background-color: mx.get-color('green', 'bg');
  color: mx.get-color('green', 'nav-base', 0.75);
  font-size: 12px;
  width: 100%;
  padding: 15px 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .copyright {
    margin: 0;
  }

  .footerNav {
    .navList {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 15px;
    }

    .navLink {
      color: mx.get-color('green', 'nav-base', 0.9);
      text-decoration: none;
      transition: text-decoration 0.2s ease, color 0.2s ease;

      &:hover {
        color: mx.get-color('green', 'darkest');
        text-decoration: underline;
      }
    }
  }
}