@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;
@use 'sass:map';

// 頁面最外層容器，負責置中與背景色
.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map.get(color.$greens, 'bg-gray-green');
  box-sizing: border-box;
  overflow: auto;
}

// 中間的內容卡片
.contentWrapper {
  background-color: color.$white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  @include mixin.respond-min(md) {
    flex-direction: row;;
  }
}

// 左側的文字說明區塊
.textSection {
  text-align: center;
  padding: 40px;
  // 移除 min-height，讓 Flexbox 自動管理高度

  @include mixin.respond-min(md) {
    flex: 1; // 在水平排列時，佔據一半空間
    padding: 50px;
    text-align: left;
  }

  h1 {
    @include mixin.t-title(
      $font-size: 26px,
      $font-size-xs: 30px,
      $font-size-nav: 34px,
      $margin-bottom: 15px,
      $text-align: center,
      $text-align-md: left
    );
  }

  p {
    @include mixin.p-paragraph(
      $font-size: 16px,
      $line-height: 1.8,
      $margin-bottom: 0
    );
  }
}

// 右側的表單區塊
.formSection {
  padding: 40px;
  background-color: map.get(color.$greens, 'bg');
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixin.respond-min(md) {
    flex: 1; // 在水平排列時，佔據另一半空間
    padding: 50px;
  }
}