@use 'sass:map';
@use '@styles/_mixins.scss' as mx;

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}

.headerContent {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.logoLink {
  display: inline-block;
  line-height: 0;
}

.logoImg {
  height: 73px;
  aspect-ratio: auto 47 / 63;
  display: block;

  @include mx.respond-min(xs) {
    height: 90px;
  }
}