@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mx;

.heroSection {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

/* 傳遞給 TextImageSlot 的特定 Class */
.heroContainerSpecifics {
  margin: 0 154px;
  padding: 110px 0 20px;
  min-height: inherit;

  @include mx.respond-min(md) {
    padding: 150px 0 48px;
  }
  @include mx.respond-min(xl) {
    padding: 200px 0 48px;
  }
}

.heroTextContainerMobile {
  order: 1;
}

.heroImageContainerMobile {
  order: 2;
}