@use '@styles/_mixins.scss' as mx;

.kanbanSectionWrapper {
  background-color: mx.get-color('green', 'bg-light');
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.kanbanContainerPadding {
  padding-top: 64px;
  padding-bottom: 64px;

  @include mx.respond-min(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}