@use '@styles/_breakpoints.scss' as bp;

.kanbanSectionWrapper {
  background-color: rgb(241, 246, 233);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.kanbanContainerPadding {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: bp.$breakpoint-md) {
  .kanbanContainerPadding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
