// 檔案: src/styles/LegalPages.module.scss
@use 'mixins' as mx;
@use 'colors' as color;
@use 'sass:map';

.pageWrapper {
  // 這裡可以設定頁面的通用樣式，例如背景色
}

.title {
  @include mx.t-title;
  & {
    text-align: center;
    margin-bottom: 40px;
  }
}

.subheading {
  @include mx.t-title($color: map.get(color.$greens, 'darkest'));
  
  & {
    font-size: 1.5em; 
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.paragraph {
  @include mx.p-paragraph;
  & {
    text-align: left;
  }
}

.list {
  @include mx.p-paragraph;
  
  & {
    text-align: left;
    padding-left: 20px;
  }
  
  li {
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;
  }
}