@use 'mixins' as mx;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  min-height: calc(100vh - 200px);
}

.errorMessage {
  color: mx.get-color('green', 'nav-base', 0.5);
  margin-bottom: 15px;
}

.prompt {
  color: mx.get-color('green', 'nav-base');
  margin-bottom: 25px;
}

.homeLink {
  color: mx.get-color('blue', 'link');
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.2s ease;

  &:hover {
    color: mx.get-color('blue', 'link-hover');
  }
}