@use '@styles/colors' as color;
@use 'sass:map';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  min-height: calc(100vh - 200px);
}

.errorMessage {
  // 使用 sass 的 rgba() 函式為我們的基礎綠色加上 50% 的透明度
  color: rgba(map.get(color.$greens, 'nav-base'), 0.5);
  margin-bottom: 15px;
}

.prompt {
  color: map.get(color.$greens, 'nav-base');
  margin-bottom: 25px;
}

.homeLink {
  color: map.get(color.$blues, 'link');
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.2s ease;

  &:hover {
    color: map.get(color.$blues, 'link-hover');
  }
}