@use '@styles/_mixins.scss' as mx;

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: transparent;
  padding: 80px 20px;

  @include mx.respond-min(md) {
    padding: 80px 100px;
  }
  @include mx.respond-min(llg) {
    padding: 80px 40px;
  }
}