@use 'sass:map'; 
@use '@styles/_breakpoints.scss' as bp;

@mixin respond($key) {
  @media (min-width: map.get(bp.$breakpoints, $key)) {
    @content;
  }
}

.container {
  max-width: 1200px; /* 保持最大寬度 */
  margin: 0 auto; /* 置中 */
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;

  @include respond(md) {    
    padding-left: 100px;
    padding-right: 100px;
  }
}