@use '@styles/_mixins.scss' as mx;

.titleWrapper {
  position: relative;
  display: inline-block;
  padding-top: 25px;
  margin-bottom: 20px;
  width: 100%;
 
  &::before {
    @include mx.decorative-divider($is-centered: true);
  }
}

.title {
  @include mx.t-title($text-align: center, $text-align-md: center);
  & {
    margin-bottom: 0;
  }
}