@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mixins;

.transparentTop{
    padding-top: 104px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.container{
    display: grid;
    .content{
        white-space: pre-wrap;

        .isLoading {
            @include mixins.p-paragraph;
        }
        
        .error {
            color: red;
        }

        .noPost{
            color: gray
        }
    }

    .widget{
        display: flex;
        border-width: 1px;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-color: gray;
        height: 700px;
        background-color: mx.get-color('green', 'base');

        p {
           font-size: 70px; 
           color: white;
        }
    }
}