@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mixins;
@use '@styles/_colors' as color;

.transparentTop{
    padding-top: 104px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.container{
    display: grid;
    @include mixins.respond-min(nav) {
        grid-template-columns: 2fr 1fr;
    }

    .content{
        white-space: pre-wrap;
    }

    .widget{
        display: flex;
        border-width: 1px;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-color: gray;
        height: 700px;
        background-color: map.get(color.$greens, 'base');

        p {
           font-size: 70px; 
           color: white;
        }
    }
}