@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mx;

.postArticle{
    .articleHeader {
        margin-bottom: 34px;

        h1 {
        @include mx.t-title(
            $letter-spacing: 0,
            $margin-bottom: 0,
        );
        }

        .postCategory {
            @include mx.p-paragraph;
            .categoryLink {
                &:hover {
                    color: mx.get-color('green', 'light');
                }
            }
        }
        .authorLink{
            &:hover {
                    color: mx.get-color('green', 'light');
            }
        }
    }

    .postImage {
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        display: block;
    }

    .postBody h2 { 
        @include mx.t-title(
            $font-size: 22px,
            $font-size-xs: 26px,
            $font-size-nav: 30px,
        );
        }
    .postBody h3 { 
        @include mx.t-title(
            $font-size: 18px,
            $font-size-xs: 22px,
            $font-size-nav: 26px,
        );
        }
    .postBody h4 { 
        @include mx.t-title(
            $font-size: 14px,
            $font-size-xs: 18px,
            $font-size-nav: 22px,
        );
        }
    .postBody p { 
        @include mx.p-paragraph(
            $font-size: 17px,
        );
        }
    .postList {
        li {
            display: list-item;
            list-style-position: inside;
            margin-left: 20px;
            @include mx.p-paragraph;
        }
    }
    ol.postList {
        li {
                list-style: decimal;
            }
    }
    ul.postList {
        li {
                list-style: disc;
            }
    }
    
    .ctaButton{
        @include mx.b-button;            
    }
}