@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mx;
@use '@styles/_colors' as color;

.postArticle{
    .articleHeader {
        margin-bottom: 34px;

        h1 {
        @include mx.t-title(
            $letter-spacing: 0,
            $margin-bottom: 0,
        );
        }

        .postCategory {
            @include mx.p-paragraph;
            .categoryLink {
                &:hover {
                    color: map.get(color.$greens, 'light');
                }
            }
        }
        .authorLink{
            &:hover {
                    color: map.get(color.$greens, 'light');
                }
        }
    }

    .postImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .postBody h2 { 
        @include mx.t-title(
            $font-size: 22px,
            $font-size-xs: 26px,
            $font-size-nav: 30px,
        );
        }
    .postBody h3 { 
        @include mx.t-title(
            $font-size: 18px,
            $font-size-xs: 22px,
            $font-size-nav: 26px,
        );
        }
    .postBody p { 
        @include mx.p-paragraph(
            $font-size: 17px,
        );
        }

    .ctaButton{
        @include mx.b-button;            
    }
}