@use '@styles/mixins' as mx;
@use '@styles/colors' as color;
@use 'sass:map';

.processSection {
  padding: 60px 30px;
  width: 100%;
  box-sizing: border-box;
}

.stepsFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;

  // 限制最大寬度並置中
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  // 當螢幕寬度大於等於 md 時，改為水平排列並分配空間
  @include mx.respond-min(md) {
    flex-direction: row;
    justify-content: space-between; // 將卡片推向兩側，在中間產生間距
  }
   @include mx.respond-min(llg) {
    justify-content: space-around;
  }
}

.stepCard {
  margin-top: 30px;
  padding: 0 30px 30px 30px;
  border-radius: 8px;
  text-align: left;
  background-color: map.get(color.$greens, 'bg-grayed');
  // 在手機版，寬度會自動為 100%
  
  // 在 md 寬度以上時，設定寬度以達成兩欄效果
  @include mx.respond-min(md) {
    // 每個卡片佔據大約一半的寬度 (預留出中間的空間)
    flex-basis: calc(50% - 15px); // 卡片間有 30px 的間距
  }

  // 【新增】在 llg 寬度以上時，設定寬度以達成四欄效果
  @include mx.respond-min(llg) {
    // 假設卡片間距同樣為 30px
    flex-basis: calc(33.333% - 22.5px); 
  }
}

.iconTextWrap {
  margin-top: -25px;
}

.iconWrapper {
  color: map.get(color.$greens, 'base');
  height: 50px;
  width: 50px;
  margin-bottom: 20px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.stepText {
  box-sizing: border-box;
}

.stepTitle {
  @include mx.t-title($font-size: 22px, $margin-bottom: 20px);
}

.stepDescription {
  @include mx.p-paragraph($line-height: 1.8, $margin-bottom: 0, $font-size: 16px);
}
