@use '@styles/_mixins.scss' as mx;

.card {
  display: flex;
  align-items: center;
  // Mobile First: 預設為垂直堆疊
  flex-direction: column;

  & {
    margin-bottom: 60px;
  }

  // Desktop: 切換為水平排列
  @include mx.respond-min(md) {
    flex-direction: row;
    margin-top: 48px;
    margin-bottom: 48px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.imageWrapper {
  flex: 1; // 讓圖片容器有彈性
  max-width: 100%; // 限制圖片最大寬度

  img {
    width: 100%;
    height: auto;
    display: block; // 移除圖片底部的空隙
    border-radius: 8px;
  }
}

.textWrapper {
  flex: 1; // 讓文字容器有彈性
  white-space: pre-line; // 讓 \n 換行生效
  padding-top: 24px;
  @include mx.respond-min(md) {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  @include mx.t-title($font-size: 22px, $font-size-xs:26px, $font-size-nav: 30px, $margin-bottom: 20px, $text-align: center);
}

.description {
  @include mx.p-paragraph($line-height: 1.8, $margin-bottom: 17px);
}
