@use '@styles/mixins' as mx;
@use '@styles/colors' as color;
@use 'sass:map';

.processSection {
  padding: 60px 30px;
}

.stepsFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.stepCard {
  margin: 10px;
  padding: 0 30px 30px 30px;
  border-radius: 8px;
  text-align: left;
  background-color: map.get(color.$greens, 'bg-gray-green');
}

.iconTextWrap {
  margin-top: -25px;
}

.iconWrapper {
  color: map.get(color.$greens, 'base');
  height: 50px;
  width: 50px;
}

.stepTitle {
  @include mx.t-title($font-size: 20px, $margin-bottom: 12px);
}

.stepDescription {
  @include mx.p-paragraph($line-height: 1.8, $margin-bottom: 0, $font-size: 16px);
}