@use '@styles/mixins' as mx;
@use '@styles/colors' as color;
@use 'sass:map';

.processSection {
  padding: 60px 30px;
  width: 100%;
  box-sizing: border-box;
}

.stepsFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 50px;
}

.stepCard {
  padding: 0 30px 30px 30px;
  border-radius: 8px;
  text-align: left;
  background-color: map.get(color.$greens, 'bg-gray-green');
}

.iconTextWrap {
  margin-top: -25px;
}

.iconWrapper {
  color: map.get(color.$greens, 'base');
  height: 50px;
  width: 50px;
  margin-bottom: 20px;

  // 【新增】讓 SVG 元素填滿整個容器
  svg {
    width: 100%;
    height: 100%;
  }
}

.stepText {
  box-sizing: border-box;
}

.stepTitle {
  @include mx.t-title($font-size: 22px, $margin-bottom: 20px);
}

.stepDescription {
  @include mx.p-paragraph($line-height: 1.8, $margin-bottom: 0, $font-size: 16px);
}
