@use '@styles/_breakpoints.scss' as bp;

.socialList {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  display: flex;
  justify-content: center; /* 手機版預設置中 */
  gap: 40px; /* 圖示之間的間距 */
}

.socialLink {
  color: rgb(156, 201, 150);
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: rgb(58, 90, 64);
    transform: translateY(-2px); /* 滑鼠懸停時輕微上移 */
  }
}

@media (min-width: bp.$breakpoint-md) {
  .socialList {
    justify-content: flex-start; /* 桌面版靠左 */
  }
}

@media (min-width: bp.$breakpoint-xl) {
  .socialList {
    margin-top: 180px;
  }
}