@use '@styles/_mixins.scss' as mx;

.socialList {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;

  @include mx.respond-min(md) {
    justify-content: flex-start;
  }

  @include mx.respond-min(xl) {
    margin-top: 90px;
  }
}

.socialLink {
  color: mx.get-color('green', 'light');
  
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: mx.get-color('green', 'dark'); 
    transform: translateY(-2px);
  }
}