@use '@styles/_mixins.scss' as mx;

.formContainer {
  width: 100%;
  margin: 0 auto;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

%input-base {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid mx.get-color('neutral', 'grey-border');
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    outline: none;
    border-color: mx.get-color('green', 'base');
    box-shadow: 0 0 0 3px mx.get-color('green', 'base', 0.2);
  }

  &::placeholder {
    color: mx.get-color('neutral', 'grey-placeholder');
  }
}

.input {
  @extend %input-base;
}

.submitButton {
  @include mx.b-button(
    $margin-left: 0,
    $margin-right: 0
  );

  &:disabled {
    background-color: mx.get-color('neutral', 'grey-border');
    cursor: not-allowed;
  }
}

.statusMessage {
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  &.success,
  &.error,
  &.sending,
  &.loading {
    opacity: 1;
    visibility: visible;
  }

  &.success {
    background-color: mx.get-color('green', 'light', 0.3);
    color: mx.get-color('green', 'darkest');
    border: 1px solid mx.get-color('green', 'light');
  }

  &.error {
    background-color: mx.get-color('red', 'bg-light');
    color: mx.get-color('red', 'base');
    border: 1px solid mx.get-color('red', 'base', 0.3);
  }
   
  &.sending,
  &.loading {
    background-color: mx.get-color('neutral', 'grey-light-border');
    color: mx.get-color('neutral', 'grey-text');
    border: 1px solid mx.get-color('neutral', 'grey-border');
  }
}