@use '@styles/_mixins.scss' as mx;

.titleWrapper {
  position: relative;     // 定位裝飾線的基準
  display: inline-block;  // 讓容器寬度自適應內容
  padding-top: 25px;
  margin-bottom: 20px;

  &::before {
  @include mx.decorative-divider;
  }
}

.title {
  @include mx.t-title;
}

.paragraph {
  @include mx.p-paragraph;
}

.button {
  @include mx.b-button;
  @include mx.respond-min(lg) {
    & {
      margin: 20px auto 0 0;
    }
  }
}