@use 'sass:map';
@use '@styles/_breakpoints.scss' as bp;
@use '@styles/_mixins' as mixins;

.contentContainer {
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include mixins.respond-min(md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.innerColumns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;

  @include mixins.respond-min(md) {
    flex-direction: row;
  }
}

.textContainer {
  flex-basis: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.respond-min(md) {
    flex-basis: 50%;
    align-items: flex-start;
  }
}

.imageContainer {
  flex-basis: auto;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mixins.respond-min(md) {
    flex-basis: 50%;
    width: initial;
  }
}

.imageContainer img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.reversed {
  flex-direction: row-reverse;
}