@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;
@use 'sass:map';

.main {
  background-color: color.$white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.callToActionHead {
  margin: 20px auto;
  padding: 0 20px;
  text-align: left;
  @include mixin.respond-min(md) {
    margin: 50px auto;
  }

  h2 {
    @include mixin.t-title(
      $text-align: center,
      $text-align-md: center,
      $font-size: 19px,
      $font-size-xs: 22px,
      $font-size-nav: 22px
      );
  }
  p {
    margin-bottom: 0;
  }
  ul {
    li{
      display: list-item;
      list-style-type: decimal;
      list-style-position: inside;
    }
    a {
      color: color.$orange;
      &:hover {
        color: map.get(color.$greens, 'nav-link');
      }
    }
  }
}

.callToActionBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  .callToActionBannerWrap{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: map.get(color.$greens, 'bg-section-light');
    margin: 50px auto;
    padding: 30px 40px;
    @include mixin.respond-min(md){
      margin: 100px auto;
    }
    @include mixin.respond-min(llg){
      margin: 150px auto;
    }
    
    .callToActionBannerContent{
     margin: 0 auto;

    h2{
      @include mixin.t-title(
        $text-align: center,
        $text-align-md: center,
        $font-size: 20px,
        $font-size-xs: 20px,
        $font-size-nav: 26px,
        $font-weight: 600,
        $letter-spacing: 0.5px
        );
     }
     ul{
      margin-bottom: 20px;
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
      }
     }

     p{
      font-weight: 500;
      @include mixin.p-paragraph(
        $font-size: 18.4px,
        $font-size-md: 18.4px,
        $font-size-nav: 20px,
        $letter-spacing: 1px);
     }
    }

    .buyButton{
      &{margin: 0 auto;}
    }
  }
}


.selfStudyCourseBuyNow {
  // 突破父層寬度限制，達到 100% 視窗寬度
  width: 100vw;
  margin-left: calc(50% - 50vw);
  box-sizing: border-box;
  overflow: hidden; // 確保內容不會超出
  max-height: 600px;

  // 設定背景圖與半透明遮罩。多重背景，1.半透明黑色漸層。2.圖片
  // CSS 會由上到下堆疊背景，所以漸層會蓋在圖片上
  background-image:
    linear-gradient(rgba(30, 41, 59, 0.45), rgba(30, 41, 59, 0.45)),
    url(/images/matcha-dougu.jpg);

  background-size: cover;     // 讓圖片永遠填滿容器，可能會有些許裁切
  background-position: center; // 圖片置中顯示

  // 維持圖片長寬比。根據寬度自動計算高度
  aspect-ratio: 1024 / 683;

  // 讓內部文字可以垂直水平置中
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.contentWrapper {
  color: color.$white;

  h2 {
    @include mixin.t-title(
      $color: color.$white,
      $text-align: center,
      $text-align-md: center,
      $font-weight: 500
      );
  }

  p {
    font-weight: 200;
    @include mixin.p-paragraph($color: color.$white);
  }

  .buyButtonWrap {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
    @include mixin.b-button(
      $bg-color: color.$orange,
      $hover-color: map.get(color.$greens, 'nav-link'),
      $font-weight: 300,
      $font-size: 16px
      );

    .buyButtonText{
      color: inherit;
      height: 24px;
    }
  }
}

.problemsWrap{
 margin: 50px 0;
 display: flex;
 align-items: center;
 flex-direction: column;

 .problemsContent{
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    margin-left: auto;
    margin-right: auto;
    @include mixin.t-title($font-weight: 500);
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
}

.courseHelp{
  padding: 75px 20px;
  box-sizing: border-box;
  
  .containerNoGap{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    @include mixin.respond-min(md) {
      flex-direction: row-reverse;
    }

    .courseImage{
      width: 100%;
      height: auto;
      overflow: hidden;
      @include mixin.respond-min(md) {
        flex-basis: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .courseHelpContainer{
      width: 100%;
      @include mixin.respond-min(md) {
        flex-basis: auto;
        margin-right: 30px;
      }

      h2{
        @include mixin.t-title(
          $font-size: 30px,
          $font-size-xs: 30px,
          $font-size-nav: 40px,
          $font-weight: 500
          );
      }

      ul{
        li{
          display: list-item;
          list-style-type: disc;
          list-style-position: inside;
        }
      }
    }
  }
}

.pros{
  padding: 75px 20px;
  @include mixin.respond-min(md){
    padding: 90px 25px;
  }
  .prosContentWrap{
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    h2{
    @include mixin.t-title(
      $font-size: 25px,
      $font-size-xs: 25px,
      $font-size-nav: 32px,
      $font-weight: 550
      );
  }

  .prosList{
    li{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 9.6px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19.2px;
      letter-spacing: 0.5px;
      @include mixin.respond-min(md){
        font-size: 19px;
        line-height: 8px;
        margin-bottom: 33.25px;
      }

    }
  }
  }
}

.testimonials{
  margin: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;;

  h2{
    color: map.get(color.$greens, 'dark');
    font-size: 25px;
    padding: 20px;
    letter-spacing: 3px;
    @include mixin.respond-min(nav){
      font-size: 32px;
    }
    }

    .carousel{
      display: flex;
      flex-direction: column;
      @include mixin.respond-min(md){
        flex-direction: row;
      }
    }
}

.outline{
  display: flex;
  flex-direction: column;
  align-items: center;
  .outlineTitle{
    padding: 5% 3%;
    @include mixin.respond-min(md){
      padding: 90px 55px;
    }

    h2 {
      @include mixin.t-title(
        $font-size: 25px,
        $font-size-xs: 25px,
        $font-size-nav: 32px,
        $font-weight: 500,
        $text-align: center,
        $text-align-md: center
        );
    }
  }

  .outlineContentFlexWrap{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .chapterBlock{
      display: flex;
      flex-direction: column;
      padding: 50px 50px;
      max-width: 1200px;
      @include mixin.respond-min(md){
        flex-direction: row;
      }
      @include mixin.respond-min(nav){
        padding: 50px 100px;
      }
      .chapterTitle{
        @include mixin.respond-min(md){
          flex: 3;
        }
        @include mixin.respond-min(llg){
          flex-basis: 50%;
        }

        h2{
          @include mixin.t-title(
            $font-size: 25px,
            $font-size-xs: 25px,
            $font-size-nav: 32px,
            $font-weight: 500
            );
        }

        .outlineDividerContainer{
            margin: 0 auto;
            width: 100%;
            position: relative;
            height: 5px;
            box-sizing: border-box;

            &::before{
            @include mixin.decorative-divider(
              $color: map.get(color.$greens, 'base'),
              $width: 100px,
              $height: 1px,
              $is-centered: false);
          }
        }
      }

      .chapterIntro{
        @include mixin.respond-min(md){
          flex: 4;
        }

        @include mixin.respond-min(llg){
          flex-basis: 50%;
        }

        .chapterBrief{
          @include mixin.p-paragraph(
            $margin-bottom: 10px,
            $margin-bottom-md: 29px,
            $margin-bottom-nav: 32px,
            $margin-bottom-lg: 32px,
            $font-size: 17px,
            $font-size-md: 17.6px,
            $font-size-nav: 18px,
            $line-height: 27px,
            $letter-spacing: 0.5px
            );
        }

        ul{
          li{
            display: list-item;
            list-style-type: decimal;
            list-style-position: inside;
            margin-bottom: 10px;
            font-size: 17px;
            line-height: 27px;
            letter-spacing: 0.5px;

            @include mixin.respond-min(md){
              margin-bottom: 29px;
              font-size: 17.6px;
              line-height: 29.7px;
            }
            @include mixin.respond-min(nav){
              margin-bottom: 32px;
              font-size: 18px;
            }

          }
        }
      }
    }  
  }
}

.about{
  padding: 60px 35px;
  box-sizing: border-box;
  .aboutContentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include mixin.respond-min(llg){
      flex-direction: row;
    }
    .aboutImage{
      width: 100%;
      max-width: 600px;
      height: auto;
      overflow: hidden;
      @include mixin.respond-min(llg) {
        flex-basis: auto;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .aboutText{
      width: 100%;
      max-width: 600px;
      margin-top: 40px;
      @include mixin.respond-min(llg) {
        flex-basis: auto;
        margin-top: 0;
        margin-left: 40px;
      }

      h2{
        @include mixin.t-title(
          $font-size: 25px,
          $font-size-xs: 25px,
          $font-size-nav: 32px,
          $font-weight: 500,
          $text-align: center,
          $text-align-md: center
          );
      }

      p{
        @include mixin.p-paragraph;
      }

      .aboutLogoWrap {
        display: block;
        width: 70px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}


.selfStudyCourseFaqWrap{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include mixin.respond-min(llg){
    flex-direction: row;
    align-items: center;
  }

  .decorativeImage{
  width: 100%;
  height: auto;
  margin-left: calc(50% - 50vw);
  box-sizing: border-box;
  overflow: hidden;
  max-height: 600px;
  img {
     width: 100%;
     height: 100%
  }
}
}
