@use '@styles/colors' as color;
@use '@styles/mixins' as mixin;
@use 'sass:map';

.main {
  background-color: color.$white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.callToAction {
  margin: 20px auto;
  padding: 0 20px;
  text-align: left;
  @include mixin.respond-min(md) {
    margin: 50px auto;
  }

  h2 {
    @include mixin.t-title(
      $text-align: center,
      $text-align-md: center,
      $font-size: 19px,
      $font-size-xs: 22px,
      $font-size-nav: 22px
      );
  }
  p {
    margin-bottom: 0;
  }
  ul {
    li{
      display: list-item;
      list-style-type: decimal;
      list-style-position: inside;
    }
    a {
      color: color.$orange;
      &:hover {
        color: map.get(color.$greens, 'nav-link');
      }
    }
  }
}


.selfStudyCourseBuyNow {
  // 突破父層寬度限制，達到 100% 視窗寬度
  width: 100vw;
  margin-left: calc(50% - 50vw);
  box-sizing: border-box;
  overflow: hidden; // 確保內容不會超出

  // 設定背景圖與半透明遮罩。多重背景，1.半透明黑色漸層。2.圖片
  // CSS 會由上到下堆疊背景，所以漸層會蓋在圖片上
  background-image:
    linear-gradient(rgba(30, 41, 59, 0.33), rgba(30, 41, 59, 0.33)),
    url(/images/matcha-dougu.jpg);

  background-size: cover;     // 讓圖片永遠填滿容器，可能會有些許裁切
  background-position: center; // 圖片置中顯示

  // 維持圖片長寬比。根據寬度自動計算高度
  aspect-ratio: 1024 / 683;

  // 讓內部文字可以垂直水平置中
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.contentWrapper {
  color: color.$white;

  h2 {
    @include mixin.t-title(
      $color: color.$white,
      $text-align: center,
      $text-align-md: center,
      $font-weight: 500
      );
  }

  p {
    font-weight: 200;
    @include mixin.p-paragraph($color: color.$white);
  }

  .buyButtonWrap {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s;
    @include mixin.b-button(
      $bg-color: color.$orange,
      $hover-color: map.get(color.$greens, 'nav-link'),
      $font-weight: 300,
      $font-size: 16px
      );

    .buyButtonText{
      color: inherit;
      height: 24px;
    }
  }
}

.problemsWrap{
 margin: 50px 0;
 display: flex;
 align-items: center;
 flex-direction: column;

 .problemsContent{
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    margin-left: auto;
    margin-right: auto;
    @include mixin.t-title($font-weight: 500);
  }
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
}

.courseHelp{
  padding: 75px 20px;
  box-sizing: border-box;
  
  .containerNoGap{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixin.respond-min(md) {
      flex-direction: row-reverse;
    }

    .courseImage{
      width: 100%;
      height: auto;
      overflow: hidden;
      @include mixin.respond-min(md) {
        flex-basis: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .courseHelpContainer{
      width: 100%;
      @include mixin.respond-min(md) {
        flex-basis: auto;
        margin-right: 30px;
      }

      h2{
        @include mixin.t-title(
          $font-size: 30px,
          $font-size-xs: 30px,
          $font-size-nav: 40px,
          $font-weight: 500
          );
      }

      ul{
        li{
          display: list-item;
          list-style-type: disc;
          list-style-position: inside;
        }
      }
    }
  }
}

.pros{
  padding: 75px 20px;
  @include mixin.respond-min(md){
    padding: 90px 25px;
  }
  .prosContentWrap{
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    h2{
    @include mixin.t-title(
      $font-size: 25px,
      $font-size-xs: 25px,
      $font-size-nav: 32px,
      $font-weight: 550
      );
  }

  .prosList{
    li{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 9.6px;
      font-size: 16px;
      font-weight: 300;
      line-height: 19.2px;
      letter-spacing: 0.5px;
      @include mixin.respond-min(md){
        font-size: 19px;
        line-height: 8px;
        margin-bottom: 33.25px;
      }

    }
  }
  }
}

