@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap'); /* 載入 Google 字體 Noto Serif TC，粗細 200~900都有。*/
/* RESET */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style: none;
}

/* BASE STYLES */

body {
  font-family: "Noto Serif TC";
}

p, li, a{
  font-weight: 600; /* 預設內文,清單,超連結文字的粗細為500 */
}